primaryColor = #005dd6

*, *::before, *::after
  box-sizing border-box

html, body
  margin 0
  padding 0
  height 100%

body, #result
  display flex
  flex-direction column
  align-items center

body, textarea
  width 100%
  background #fff
  color #333
  text-align center
  line-height 1.3em

body, textarea::placeholder, input::placeholder
  text-align center
  font-family 'Segoe UI', 'Tahoma', 'Helvetica Neue', sans-serif

main
  max-width 640px
  height 100%

h1
  margin-top 1em
  margin-bottom 2em
  color primaryColor
  font-variant small-caps
  font-size 1.5em
  line-height 1.2em

textarea, #input-name
  padding 0.5em 0
  min-width 1.5em
  min-height 3em
  width 100%
  outline none
  border none
  background none
  text-align center

textarea
  overflow-x hidden
  max-width 100%
  width 100%
  border-top 2px solid primaryColor
  border-bottom 2px solid primaryColor
  border-radius 0
  text-align left
  font-family monospace
  resize vertical

  &::placeholder
    padding-top 1em

#input-name
  border none

#css
  margin-bottom -5px
  border-bottom none

button, a
  padding 0.5em
  outline none
  border none
  color primaryColor
  text-decoration none
  letter-spacing 0.05em
  font-variant small-caps
  cursor pointer

  &:hover
    color lighten(primaryColor, 20%)

#result
  opacity 1
  transition all 0.2s

  &>a
    min-width 50%
    min-height 2.6em
    border-radius 5px
    border-radius 5px
    background primaryColor
    box-shadow 1px 1px 5px rgba(0, 0, 0, 0.5)
    color #fff

    &:hover
      background lighten(primaryColor, 10%)

    svg
      float left
      margin-top 0.3em
      height 1.2em

  #info
    display flex
    flex-direction column
    align-items center
    padding 0.5em 2em 2em
    font-style italic
    font-family 'Georgia', serif

    a
      font-variant normal

    svg
      display block
      margin-left -25%
      height 5em

.clear-container
  position relative
  height 6.5em

#clear
  min-height 3em
  background transparent

.bottom
  display flex
  flex-direction column
  padding 0.5em

.hidden
  display none

.opaque
  opacity 0 !important
  pointer-events none !important

.displaced
  position absolute
  top -900px