primaryColor = #0070ff

*, *::before, *::after
  box-sizing border-box

html, body
  margin 0
  padding 0
  height 100%

body, #result
  display flex
  flex-direction column
  align-items center

body, textarea
  width 100%
  background #fff
  color #333
  text-align center
  font-family 'Tahoma', 'Helvetica Neue', sans-serif
  line-height 1.3em

.hidden
  display none

h1
  margin-top 1em
  margin-bottom 2em
  color primaryColor
  font-size 1.2em
  line-height 1.2em

textarea
  padding 0.5em 0
  min-width 1.5em
  outline none
  border none
  border-top 2px solid primaryColor
  border-bottom 2px solid primaryColor
  border-radius 0
  background none
  font-family monospace

#input-name
  padding 0.5em 0
  min-width 1.5em
  width 100%
  outline none
  border none
  border none
  background none
  text-align center
  font-family monospace

button, a
  padding 0.5em
  outline none
  border none
  color primaryColor
  text-decoration none
  letter-spacing 0.05em
  font-size 0.8em
  cursor pointer

#result
  a
    min-width 50%
    min-height 2.6em
    border-radius 5px
    border-radius 5px
    background #0070ff
    box-shadow 1px 1px 5px rgba(0, 0, 0, 0.5)
    color #fff

    &:hover
      background lighten(primaryColor, 10%)

  svg
    float left
    margin-top 0.3em
    height 1.2em

  div
    margin-top 3em
    padding 1em

.clear-container
  position relative
  height 6.5em

#clear
  padding 0.2em 1em
  border 2px solid primaryColor
  border-top none
  border-radius 5px
  border-top-left-radius 0
  border-top-right-radius 0
  background transparent
