html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='Description' content='Bookmarklet Generator')
    link(rel='icon' type='image/svg+xml' sizes='any' href='assets/favicon.svg')
    style
      | @import "./styles/index.styl"
    title Bookmarklet Generator
  body
    h1 Bookmarklet Generator
    main
      textarea#input(
          type='text'
          rows='4'
          placeholder='Enter JavaScript here...'
          spellcheck='false')
      .clear-container
        button#clear × Clear
      #result
        a(href='#')
          svg(xmlns='http://www.w3.org/2000/svg' viewBox="0 0 100 100")
            path(stroke='#0070ff' stroke-linejoin='round' stroke-width='8' fill='#0070ff' d='M15,10h70v80l-35,-35l-35,35z')
          span Bookmark Me
        div Drag &amp; drop the bookmarklet into your bookmark bar.
      
    script.
      require("./scripts/index.js");